<!-- Header -->
	<header>
    	<div class="container">
    		<div class="row">
	    		<div class="col-xs-12 col-sm-5 col-sm-offset-1">
	    			<h1>Lorem ipsum dolor sit amet.</h1>
	    			<form action="" class="form-inline">
	    				<div class="form-group">
	    					<input type="text" class="form-control" id="suscribir" placeholder="Introduzca su Email">
	    					<buttom type="submit" class="btn btn-info btn-md">Suscribirme</button>
	    				</div>
	    			</form>
	    		</div>
	    		<div class="col-sm-4 col-sm-offset-2">
	    			<%= image_tag "cell.png", class: "img-responsive center-block"%>
	    		</div>
	    	</div>
    	</div>
    </header>
	<!-- Fin Header -->
	
	<!-- Primera Seccion -->
	<div class="container">
		<div class="row centrado">
			<div class="--">
				<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
				<h3>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu.</h3>
			</div>
		</div>
	</div>

	<div class="row centrado">
		<div class="col-md-4 col-sm-4">
			<%= image_tag "servicios.png", class: "img-circle", width: '140px' %>
			<h4>1 - Lorem ipsum dolor..</h4>
			<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. in, pharetra a, ultricies in, diam. Sed arcu. </p>
		</div>

		<div class="col-md-4 col-sm-4">
			<%= image_tag "servicios.png", class: "img-circle", width: '140px' %>
			<h4>1 - Lorem ipsum dolor..</h4>
			<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. in, pharetra a, ultricies in, diam. Sed arcu. </p>
		</div>

		<div class="col-md-4 col-sm-4">
			<%= image_tag "servicios.png", class: "img-circle", width: '140px' %>
			<h4>1 - Lorem ipsum dolor..</h4>
			<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. in, pharetra a, ultricies in, diam. Sed arcu. </p>
		</div>
    </div>
    <!-- Fin Primera Seccion -->

    <!-- Segunda Seccion -->
    	<div class="container">
            <hr>
    		<div class="row centrado">
	    		<div class="col-lg-6 col-lg-offset-3 ">
	    			<h1>Lorem ipsum dolor sit amet</h1>
	    			<h3>Phasellus ultrices nulla quis nibh. Quisque a lectus. </h3>
	    		</div>
	    	</diV>

	    		<div class="row centrado">
	                <div class="col-md-6 col-md-offset-3">
		    		 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  	<div class="carousel-inner">
						     <div class="item active">
						       <%= image_tag "p01.png" %>
						     </div>
						     <div class="item">
						       <%= image_tag "p02.png" %>
						     </div>
						     <div class="item">
						       <%= image_tag "p03.png" %>
						     </div>
						  	</div>
		             	</div>
	                </div>
	    		</div>
	    	</div>
    	</div>
    <!-- Fin Segunda Seccion -->

    <div class="container">
    	<hr>
    	<div class="row centrado">
    		<div class="col-lg-6 col-lg-offset-3">
    			<h1>Nuestro equipo.</h1>
    			<h3>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. </h3>
    		</div>
    	</div>

        <div class="row centrado">
        	<div class="col-md-4 col-sm-4">
        		<%= image_tag "avatar.jpg", class: "img-circle", width: '140px' %>
        		<h4>Michael Jackson</h4>
        		<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        		<p><i class="glyphicon glyphicon-briefcase"></i> <i class="glyphicon glyphicon-link"></i> <i class="glyphicon glyphicon-globe"></i></p>
        	</div>

        	<div class="col-md-4 col-sm-4">
        		<%= image_tag "avatar.jpg", class: "img-circle", width: '140px' %>
        		<h4>Bruno Diaz</h4>
        		<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        		<p><i class="glyphicon glyphicon-briefcase"></i> <i class="glyphicon glyphicon-link"></i> <i class="glyphicon glyphicon-globe"></i></p>
        	</div>

        	<div class="col-md-4 col-sm-4">
        		<%= image_tag "avatar.jpg", class: "img-circle", width: '140px' %>
        		<h4>Peter Parket</h4>
        		<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        		<p><i class="glyphicon glyphicon-briefcase"></i> <i class="glyphicon glyphicon-link"></i> <i class="glyphicon glyphicon-globe"></i></p>
        	</div>
        </div>

    </div>


    <div class="container">
    	<hr>
    	<div class="row centrado">
    		<div class="col-sm-6 col-xs-7 col-sm-offset-3 col-xs-offset-3">
    			<form action="" class="form-inline">
	    			<div class="form-group">
	    				<input type="text" class="form-control" id="suscribir" placeholder="Introduzca su Email">
	    				<buttom type="submit" class="btn btn-info btn-md">Suscribirme</buttom>
	    			</div>
	    		</form>
    		</div>
    	</div>
    	<hr>

    	<p class="centrado"><a href="#">© Untitled. All rights reserved</a> | Design: Carlos Alberto Correa Ballesteros</p>
    </div>